<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Search Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/material.min.css">
  <link rel="stylesheet" href="/styles/search.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/typeahead.css">
  <link rel="stylesheet" href="/styles/typeaheadjs.css">
  <!--STYLES END-->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<body np-app="searchBox">
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery-1.11.3.js"></script>
<script src="/js/dependencies/angular.js"></script>
<script src="/js/dependencies/jquery.autocomplete.js"></script>
<script src="/js/dependencies/typeahead.js"></script>
<script src="/js/public/BStest.js"></script>
<script src="/js/public/SearchService.js"></script>
<!--SCRIPTS END-->

  <!-- ngView -->

  <div class="container">
    <!-- Static navbar -->
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span>  <span class="icon-bar"></span>  <span class="icon-bar"></span>
        </button> <a class="navbar-brand" href="">Backend Challenge</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="">Link</a>

          </li>
          <li><a href="">Link</a>

          </li>
          <li><a href="">Link</a>

          </li>
          <li class="dropdown"> <a href="" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>

            <ul class="dropdown-menu">
              <li><a href="#">Action</a>

              </li>
              <li><a href="#">Another action</a>

              </li>
              <li><a href="#">Something else here</a>

              </li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a>

              </li>
              <li><a href="#">One more separated link</a>

              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="./">Default</a>

          </li>
          <li><a href="">Static top</a>

          </li>
          <li><a href="">Fixed top</a>

          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>



    <form class="form-inline global-search" role="form" onsubmit="formTest()" action="queryById">
      <div class="form-group">
        <label class="sr-only" for="">Enter search terms</label>
        <input type="search" class="form-control" id="k" name="name" placeholder="Enter Food Name">
        <input id="cn" name="id" type="hidden" />
      </div>

      </button> <a href="https://github.com/andyafter/challenge">Search Help</a>
    </form>


    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Food Autocomplete</h1>
        <p>
          This example gives some kind of autocomplete for a search bar.
        </p>
        <p> <a class="btn btn-lg btn-primary" href="https://github.com/andyafter/challenge">View Github Sources &raquo;</a>
        </p>
    </div>
  </div>


</body>
</html>
