<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Search Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/material.min.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <!--STYLES END-->
</head>
<body np-app="searchBox">
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/angular.js"></script>
<script src="/js/public/BStest.js"></script>
<script src="/js/public/SearchService.js"></script>
<!--SCRIPTS END-->

  <!-- ngView -->
  <form name="search" role="form" action="results.html">
    <div class="input-group input-group-search">

      <input type="text" class="form-control"  ng-model="blab" name="q" required>
          <span class="input-group-addon">
              <button class="btn-search" ng-disabled="search.$invalid">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
          </span>
      <input type="hidden" name="mode" value="web"/>
    </div>
  </form>



  <div ng-controller="AlertDemoCtrl">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <button class='btn btn-default' ng-click="addAlert()">Add Alert</button>
  </div>

</body>
</html>
